@using NovelSite.Models.Novel;

@{
    VisualNovelWithRatingResult result = ViewBag.Vns;
    List<VisualNovelWithRating> vns = result.Result;
}

<h3 class="text-start">Найдено новелл (@result.TotalCount)</h3>
@foreach (var vnr in vns)
{
    <div class="vn-card position-relative vn-card-filtred mt-3 col-md-3 col-lg-3 col-6">
        <div class="box">
            @if (vnr.VisualNovel.CoverImageLink != null)
            {
                string coverImageUrl = $"https://2f58d602-2c33-481e-875b-700b4d4b3263.selstorage.ru/" +
                $"{vnr.VisualNovel.CoverImageLink}";
                <a asp-controller="Novel" asp-action="Novel" asp-route-linkName="@vnr.VisualNovel.LinkName" title="@vnr.VisualNovel.Title"><img loading="lazy" src="@coverImageUrl" class="home_cover_image" /></a>
            }
            else
            {
                <img loading="lazy" src="~/images/thumbnail.png" class="home_cover_image">
            }
            <div class="vn-card-content">
                @if (vnr.NumberOfRatings > 0)
                {
                    @* <p>Рейтинг: @vnr.AverageRating (@vnr.NumberOfRatings)</p> *@

                }
                @if (@vnr.VisualNovel.VndbRating != null && vnr.VisualNovel.VndbVoteCount != null)
                {
                    <p class="vn-card-rating">★ @vnr.VisualNovel.VndbRating</p>
                    @* <p>Рейтинг VNDB: @vnr.VisualNovel.VndbRating (@vnr.VisualNovel.VndbVoteCount)</p> *@
                }
                @if (@vnr.VisualNovel.Title.Length > 44) {
                    string shortedTitle = @vnr.VisualNovel.Title.Substring(0, 40) + "...";
                    <a asp-controller="Novel" asp-action="Novel" asp-route-linkName="@vnr.VisualNovel.LinkName" title="@vnr.VisualNovel.Title"><p class="vn-card-title">@shortedTitle</p></a>
                }
                else
                {
                    <a asp-controller="Novel" asp-action="Novel" asp-route-linkName="@vnr.VisualNovel.LinkName" title="@vnr.VisualNovel.Title"><p class="vn-card-title">@vnr.VisualNovel.Title</p></a>
                }
            </div>
            @*<a class="btn btn-primary" role="button" asp-controller="Novel" asp-action="Novel" asp-route-id="@vnr.VisualNovel.Id" asp-route-spoilerLevel="0">Подробнее</a>*@
        </div>
    </div>
}

@await Html.PartialAsync("_VisualNovelPaginationPartial")
